body {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 98%);
    font-family: "Lucida Console", Monaco, "Andale Mono", monospace;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    margin-top: 25px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(0, 0%, 22%);
}

a {
    color: hsl(0, 0%, 98%);
}

a:hover {
    background-color: hsl(0, 0%, 22%);
}

div.center {
    text-align: center;
}

div.code {
    width: 755px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(0, 0%, 22%);
}
